@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 55% 99%;
    --foreground: 240 56% 4%;
    --muted: 240 36% 91%;
    --muted-foreground: 240 6% 30%;
    --popover: 240 55% 99%;
    --popover-foreground: 240 56% 4%;
    --card: 240 55% 98%;
    --card-foreground: 240 56% 3%;
    --border: 240 10% 90%;
    --input: 240 10% 90%;
    --primary: 240 45% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 11% 89%;
    --secondary-foreground: 240 11% 29%;
    --accent: 240 11% 89%;
    --accent-foreground: 240 11% 29%;
    --destructive: 0 95% 35%;
    --destructive-foreground: 0 95% 95%;
    --ring: 240 45% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 43% 4%;
    --foreground: 240 13% 98%;
    --muted: 0 36% 9%;
    --muted-foreground: 0 6% 70%;
    --popover: 240 43% 4%;
    --popover-foreground: 240 13% 98%;
    --card: 240 43% 5%;
    --card-foreground: 240 13% 99%;
    --border: 240 10% 14%;
    --input: 240 10% 14%;
    --primary: 240 45% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 75%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 75%;
    --destructive: 0 95% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 240 45% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
